<div id="map" class="our-map"></div>

<form action="/map/:id/ping" method="get">
  <button id="add-ping" name="add_ping">Add Trail Point</button>
</form>

<form action="/map/:id/ping" method="get">
  <button id="submit-pings" name="submit_ping">Submit Pings</button>
</form>
