<div class="longitude" id = "<%= @trip.longitude %>"></div>
<div class="latitude" id = "<%= @trip.latitude %>"></div>
<div class="latitude" id = "<%= @trip.latitude %>"></div>

<div id="map" class="our-map"></div>
