@import 'bootstrap-sprockets';
@import 'bootstrap';

.form-control {
  margin-bottom: 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

div.maps-show {
  padding: 0px;
  padding-left: 15px;
}

#note-container {
  padding-left: 15px;
}

.blockquote {
  font-size: 10pt;
}

.container {
  width: 80%;
}

#brand {
  height: auto;
  margin-top: -22px;
}

#home {
  margin-left: -20px;
  font-size: 20px;
}

#add-marker {
  margin-bottom: 10px;
}

#submit-marker {
  margin-bottom: 10px;
}

#trip-list-text {
  color: #333333;
}

.list-group a:hover {
  text-decoration: none;
}

.static-map {
  overflow: hidden; // a temporary fix, it doesn't resize the image, just makes it not over flow its boundry
}

.blockquote {
  font-size: 12px;
}

.trip-details {
  font-size: 12px;
}
