@import 'bootstrap-sprockets';
@import 'bootstrap';

.form-control {
  margin-bottom: 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.container {
  width: 80%;
}

.list-container {
  width: 100%;
  padding: 0;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

div.maps-show {
  padding: 0px;
  padding-left: 15px;
}

#note-container {
  padding-left: 15px;
  list-style-type: none;
}

.blockquote {
  font-size: 10pt;
}

#brand {
  height: auto;
  margin-top: -22px;
}

#add-marker {
  margin-bottom: 10px;
}

#submit-marker {
  margin-bottom: 10px;
}

#trip-list-text {
  color: #333333;
}

.list-group a:hover {
  text-decoration: none;
}

.style-ul {
  list-style-type: none;
  padding-left: 8px;
}

#elevation-details-list{
  list-style-type: none;
  padding-left: 10px;
}

.static-map {
  margin-bottom: 25px;
}
