@import 'bootstrap-sprockets';
@import 'bootstrap';

.form-control {
  margin-bottom: 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.container {
  width: 80%;
}

.list-container {
  width: 100%;
  padding: 0;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

div.maps-show {
  padding: 0px;
  padding-left: 15px;
}

#note-container {
  padding-left: 15px;
  list-style-type: none;
}

.blockquote {
  font-size: 10pt;
}

#brand {
  height: auto;
  margin-top: -22px;
}

#home {
  margin-left: -20px;
  font-size: 20px;
}

#add-marker {
  margin-bottom: 10px;
}

#submit-marker {
  margin-bottom: 10px;
}

#trip-list-text {
  color: #333333;
}

.style-ul {
  list-style-type: none;
  padding-left: 8px;
}

#elevation-details-list{
  list-style-type: none;
  padding-left: 10px;
}

.static-map {
  margin-bottom: 25px;
}

.map-pic {
  padding-bottom: 15px;
}

.blockquote {
  font-size: 12px;
}

.trip-details {
  font-size: 12px;
}

div.stars {
  width: 120px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 2px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: scale(1.2); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

 .add-new-ping {
   margin-top: 10px;
 }
