.our-map {
  height: 600px;
}

.li-trip-photo {
  width: 100%;
  max-width: 80px;
  display: block;
}

#delete-trip a, #delete-trip a:hover, #delete-trip a:link {
  color: white;
  text-decoration: none;
  display: inline-block;
}

#edit-trip {
  display: inline-block;
}
