<footer class="footer">
  <div class="footer-section">
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="https://github.com/jkranking/scramble/">Github</a></li>
    </ul>
  </nav>
  </div>
</footer>

