<footer class="footer">
  <div class="footer-section">
  <small>
    <a href="">Scramble Blah</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/jkranking/scramble/">Github</a></li>
    </ul>
  </nav>
  </div>
</footer>
