<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "Sign up", new_user_registration %> </li>
        <li> <%= link_to "Logout", destroy_user_session, method: 'delete' %> </li>
        <li> <%= link_to "Login", new_user_session_path %> </li>
      </ul>
    <% end %>
  </div>
</nav>
